.footer {
  width: 100%;
  // min-height: 100vh;
  height: max-content;
  position: relative;

  .container {
    .top-section {
      width: 100%;
      height: 118px;
      background-color: $color-f1f1f1;

      @media screen and (max-width: 768px) {
        height: max-content;
        display: grid;
        justify-content: center;
        align-items: center;
      }

      .top-section-container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 992px) {
          padding: 0 10px;
        }
        @media screen and (max-width: 768px) {
          padding: 0 10px;
          display: grid;
        }

        .top-section-item {
          width: 100%;
          display: grid;
          justify-content: center;
          align-items: center;
          grid-template-rows: 1fr 1fr;
          text-align: center;

          @media screen and (max-width: 768px) {
            padding: 20px 0;
          }

          .icon {
            img {
              width: 40px;
              height: 40px;
            }
          }

          p {
            font-size: 1rem;
            font-weight: 600;
          }
        }

        .top-section-item:nth-child(2) {
          border-right: 1px solid gray;
          border-left: 1px solid gray;

          @media screen and (max-width: 768px) {
            border: none;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
          }
        }
      }
    }

    .bottom-section {
      height: max-content;
      padding: 70px 0;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 768px) {
        padding: 20px 10px;
        display: grid;
      }
      @media screen and (max-width: 1200px) {
        padding-left: 10px;
        padding-right: 10px;
      }

      ul {
        margin-bottom: 40px;
        h3 {
          margin-bottom: 30px;
        }

        > li {
          padding: 7px 0;
          color: $color-050505-79;

          a {
            font-size: 0.8rem;
            letter-spacing: 0.5px;
            font-weight: 600;
          }
        }
        .payment-card-container {
          margin-top: 30px;
          text-transform: uppercase;
          h4 {
            font-size: 0.9rem;
            font-weight: 900;
          }

          .payment-card {
            display: flex;

            li {
              margin: 10px 10px 0 0;
            }
          }
        }

        // le style de newsletter lorsqu'il se trouve dans le footer
        .newsLetter {
          width: 100%;
          background: white;

          .container-lg {
            height: 100%;

            form {
              width: 100%;
              height: 100%;
              display: grid;
              gap: 20px;

              p {
                color: black;
                font-size: 0.9rem;
                text-transform: uppercase;
              }

              input[type="email"] {
                width: 100%;
                max-height: 40px;
                padding: 10px 25px;
                border: none;
                outline: none;
                background-color: $color-f1f1f1;
                font-family: $main-font;
                font-size: 0.9rem;
                margin: 0;
              }
              input[type="submit"] {
                width: max-content;
                max-height: 40px;
                font-size: 1rem;
                background: black;
                color: white;
                font-family: $main-font;
                text-transform: uppercase;
                padding: 10px 20px;
                border: none;
                outline: none;
                margin: 0;
                cursor: pointer;
              }

              #checkbox {
                display: flex;
                align-items: center;
                display: block;

                input[input="checkbox"] {
                  display: inline-block;
                }

                label {
                  font-size: 0.9rem;
                  margin-left: 10px;

                  a {
                    font-weight: 700;
                  }
                }
              }
            }
          }
        }
      }
    }

    .Copy-right {
      padding: 20px 0;
      width: 100%;
      background-color: $color-f1f1f1;
      text-align: center;
    }
  }
}
