.pagination {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .pagination__link--active {
    border: 1px solid $color-050505-79;
  }

  li {
    cursor: pointer;
    padding: 3px 10px;
    margin: 0 5px;
  }

  li:not(:first-child):not(:last-child) {
  }
}
