.products-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 0;

  .filter-product-container {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    padding-top: 30px;

    .filter-part {
      width: 100%;
      // cette classe est commune à tous les élément du bloc
      .header {
        @include flex-center;
        justify-content: space-between;
      }

      .filter {
        .dropdwon-menu {
          padding: 10px;
          margin-bottom: 20px;
          border: 1px solid $gray_2;
        }

        //par filtre par type
        .filter-by-type {
          .header {
            @include flex-center;
            justify-content: space-between;
          }

          .checkbox-container {
            padding-top: 10px;
            padding-bottom: 20px;
            display: flex;
            align-items: center;

            input[type="checkbox"] {
              width: 25px;
              height: 25px;
            }

            label {
              padding: 0 20px;
            }
          }
        }
        //

        // partie filtre par prix
        .filter-by-price {
          .range-container {
            padding-top: 10px;
            padding-bottom: 15px;
            .min-max {
              @include flex-center;
              justify-content: space-between;
              padding-bottom: 10px;

              #min,
              #max {
                padding: 2px 5px;
                background-color: $gray_1;
              }
            }

            input[type="range"] {
              /* Style de la plage d'entrée */
              -webkit-appearance: none;
              width: 100%;
              height: 2px;
              margin: 10px 0;

              /* Style de la piste */
              background-color: #ddd;
              border-radius: 2px;
              outline: none;

              /* Style des poignées */
              &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 20px;
                height: 20px;
                background-color: #fff;
                border: 1px solid #aaa;
                border-radius: 50%;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
                cursor: pointer;
                margin-top: -6px;
              }

              &::-webkit-slider-thumb:first-of-type {
                margin-left: -10px;
              }

              &::-webkit-slider-thumb:last-of-type {
                margin-left: -10px;
              }
            }
          }
        }

        // partie filtre par taille
        .filter-by-size {
          .size-container {
            padding: 10px;
            padding-bottom: 20px;
            display: flex;
            gap: 0.5rem;

            .size {
              input[type="radio"] {
                display: none;
              }

              input[type="radio"]:checked + label {
                border: 1px solid orange;
              }

              label {
                font-size: 0.7rem;
                user-select: none;
                width: 35px;
                height: 35px;
                @include flex-center;
                border: 1px solid #333;
                transition: 0.2s ease;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .products-part {
      padding: 0 30px;

      .product-part-head {
        width: 100%;
        height: max-content;
        padding: 15px;
        padding-top: 0;

        .top-filter {
          display: flex;
          align-items: start;
          justify-content: space-between;

          .top-filter-container {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .sort-part {
              display: flex;

              > div {
                display: flex;
                margin: 0 20px;
              }

              p,
              span {
                margin: 0 15px;
              }

              .slice-number,
              .sort-term {
                @include flex-center;

                select {
                  padding: 7px;

                  option {
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }

      // la taille de la carte des articles dans la page boutique
      .product-card {
        min-width: 248px;
        width: 248px;
        max-width: 248px;
      }
    }
  }
}
