.about {
  padding: 45px 0;
  font-family: $main-font;

  // cacher le composant de blog lorsqu'on est dans a propos
  .blog {
    display: none;
  }

  .top {
    display: grid;
    grid-template-columns: minmax(380px, 30%) 70%;
    gap: 30px;
    margin-bottom: 30px;

    .img-part {
      position: relative;
      height: 100%;

      &::after {
        position: absolute;
        content: "";
        width: 75%;
        height: 100%;
        top: 15px;
        right: 0px;
        border: 2px solid #05050535;
        z-index: 0;
      }

      .img-container {
        width: 95%;
        overflow: hidden;
        height: 100%;
        z-index: 10;
        position: relative;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .txt {
      h3 {
        font-size: 1.3rem;
        font-weight: 600;
        padding: 30px 0;
      }
      > p,
      div {
        padding: 10px 0;
        align-items: justify;
      }
    }
  }
  .bottom {
    height: 100vh;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 55% 45%;
    grid-template-areas: "img-1 img-2" "img-3 img-3";
    gap: 20px;

    .img-1,
    .img-2,
    .img-3 {
      overflow: hidden;
      position: relative;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        width: 95%;
        height: 95%;
        border: 2px solid $color-f1f1f1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .img-1 {
      grid-area: img-1;
    }
    .img-2 {
      grid-area: img-2;
    }
    .img-3 {
      grid-area: img-3;
    }
  }
}
