.home-page {
  .categories-links {
    display: none;
  }
  .man-woman {
    padding: 20px 0;

    h3 {
      font-size: 4rem;
      padding: 20px 0;
    }
    .choise-ctn {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 50px;
      justify-content: center;
      margin: 0 50px;

      .man-ctn,
      .woman-ctn {
        // background-color: aqua;
        height: 400px;
        .img-container {
          overflow: hidden;
          img {
            object-fit: center;
          }

          a {
            background-color: rgba(0, 0, 0, 0.443);
          }
        }

        .link {
          width: 250px;
          height: 70px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 3rem;
          font-weight: 700;
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }
  .satisfied-users {
    padding: 20px 0;
    padding-top: 65px;
    .satisfied-users-ctn {
      max-width: 100vw;
      overflow: scroll;
      gap: 10px;

      .msg {
        padding: 20px;
        padding-left: 50px;
        min-width: 500px;
        width: 500px;
        // height: 120px;
        border: 1px solid $grey;
        border-radius: 15px;
        gap: 20px;

        .user {
          gap: 20px;

          .avatar {
            width: 50px;
            height: 50px;

            .face-icon {
              width: 40px;
              height: 40px;
            }

            img {
              object-fit: center;
            }
          }

          .pseudo-grade {
            .grade {
              .gradeIcon {
                font-size: 2rem;
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}
